.modal-body {
    text-align: center;
}

#x {
    margin-right: 20px;
}

.area {
    width: 510px;
    height: 510px;
    background-color: black;
    margin: 50px 0 0 300px;
}
.row{
    height: 150px !important;
    width: 510px;
    margin: 0;
}
.square{
    display: block;
    border: solid 1px white;
    width: 170px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 170px;
    color: white;
    height: 170px;
    float: left;
}